#main_window {
    -fx-background-color: #121212;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.title-label {
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#titleBar {
    -fx-padding: 0;
    -fx-background-color: #1A1A1A;
    -fx-background-radius: 10 10 0 0;
}

#minimizeBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 12px;
    -fx-min-width: 40px;
    -fx-min-height: 32px;
    -fx-cursor: hand;
    -fx-padding: 0;
}

#minimizeBtn:hover {
    -fx-background-color: #333333;
}

#closeBtn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-min-width: 40px;
    -fx-min-height: 32px;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-background-radius: 0 10 0 0;
    -fx-margin: 0;
}

#closeBtn:hover {
    -fx-background-color: #8B0000;
}

#appIcon {
    -fx-margin: 0 0 0 10;
}

.songTitle{
    -fx-font-family: "Inter"; 
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #E0E0E0;
}

#PhotoShadow{
    -fx-effect: dropshadow(gaussian, rgba(136, 136, 136, 0.6), 54, 0.5, 0, 0);
}

#slider {
    -fx-box-border: rgb(68, 68, 68);
    -fx-accent: rgb(150, 150, 150);
}

#timeNow, #timeSize{
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 16;
    -fx-text-fill: #A0A0A0;
    -fx-font-weight: bold;
}

#slider .track {
    -fx-background-color: #444444;
    -fx-background-radius: 5;
    -fx-pref-height: 6;
}

#slider .thumb {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-padding: 6;
}

#play, #next, #last, #random, #repeat, #chooseFiles {
    -fx-background-color: #3C3C3C;
}

#chooseFiles{
    -fx-font-family: "Inter"; 
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.rect{
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 10;
}

#play:hover, #next:hover, #last:hover, #random:hover, #repeat:hover, #chooseFiles:hover {
    -fx-background-color: #5d5d5d;
}

.drop-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}